@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i|Raleway&display=swap');

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}
html {
	font-size: 10pt;
	line-height: 1.4;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0; font-family: 'Raleway', sans-serif; font-size: 16px; line-height: 26px;
}
/*
*, *:before, *:after {
	box-sizing: inherit;
} */
.wrapper{ width: 1000px; max-width: 100%; margin: 0 auto;}

/* #flashMessage{ border: 1px solid;padding: 10px; border-radius: 5px; margin-bottom: 10px;}
#flashMessage.error{color: #e12d2d;}
#flashMessage.success{color: #069906;} */

#register {width: 600px; max-width: 100%; margin: 50px auto; padding: 20px; }

	#register #reg-msg-errors ol{padding-left: 12px; list-style: disc; color: #e12d2d;}
	#register h2{color: white;  margin-top: 120px;  text-align: center;font-family: 'Merriweather', serif;line-height: 34px;}
	#register .reg-left-con, #register .reg-right-con{ display: inline-block; vertical-align: top; min-height: 450px;}
	#register .reg-left-con{width: 192px; max-width: 100%;display: inline-block;background: #3f3e61;  margin-right: -4px;}
	#register .reg-right-con{width: 360px;padding: 10px 20px;}
	#register .reg-right-con h3{ margin-bottom: 25px; }
	#register .btn-login{float: right;}
	.error-messages ul { padding-left: 0px; }
	.error-messages ul li { border: 1px solid; list-style: none; color: red; margin: 5px 0px; padding: 5px; border-radius: 6px; }
	#register .form-group.error .error-message{padding: 5px; border: 1px solid; margin: 5px 0px; border-radius: 6px; color: #d91414; display: none;}


#thank-you{border: 1px solid; max-width: 100%; width: 500px; margin: 134px auto; padding: 10px; text-align: center; border-radius: 5px; color: #3f3e61;}
	#thank-you p{font-size: 23px; font-family: 'Merriweather', serif;}
	#thank-you a{display: block; width: 200px; padding: 10px 10px; max-width: 100%; margin: 0 auto; border-radius: 5px; background: #3f5ca1; color: white;}

#login{width: 400px; max-width: 100%; margin: 100px auto; padding: 20px;}
	#login .log-head{min-height: 80px; border: 1px solid; line-height: 100%; background: #3f3e61;}
	#login .log-head h2{line-height: 80px; text-align: center; font-family: 'Merriweather', serif; font-weight: bold; color: white;}
	#login .log-body{ padding-top: 20px; }
	#login .btn-reg{float: right;}

nav.bg-dark{background-color: #3f3e61 !important;}
nav .comp-name{font-family: 'Merriweather', serif; color: white !important; font-size: 16px;}

#messages{width: 100%; min-height: 570px; margin: 70px auto;}
	/* .messages-head{ border-bottom: 2px solid #3f3e61; min-height: 50px; line-height: 50px; box-shadow: 0 8px 6px -8px #3f3e61; position: relative;}
	.messages-head h2{color: #3f3e61; font-weight: 700;line-height: 50px; }
	.messages-head a{position: absolute; right: 10px; top: 0px;} */
	/* .messages-con{min-height: 470px;padding-top: 20px;}
		.msg-con { height:72px;position: relative; padding: 10px 10px 10px 100px; box-shadow: 0 8px 6px -10px #3f3e61;}
		.msg-con figure{}
		.msg-con img{width: 50px; border-radius: 50%; left: 20px; position: absolute; height: 50px;}
		.msg-con h3 { font-size: 18px; font-weight: 600; }
		.msg-con p{}
		.msg-options{position: absolute; right: 15px; top: 16px;}
		.msg-content{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 650px; max-width: 100%;}
	.messages-footer{} */
	/* #messages #show-more{display: block; margin: 15px auto;} */

#create-msg{margin: 100px auto;}
	#msg-form label{ text-align: right; }
	.create-msg-con{ padding-top: 40px; }


